.infinite-container {
	width: 800px;
	height: 600px;
	overflow-y: scroll;
}

/* message bar avatar username  */
.msg-block {
	display: flex;
	margin-top: 10px;
	height: auto;
}

.chat-block-right {
	margin-left: 10px;
	display: flex;
	flex-direction: column;
}
.chat-block-right > small {
	color: burlywood;
	font-weight: bold;
}
/* 文本 */
.chat-block-right > p {
	max-width: 300px;
	min-height: 50px;
	min-width: 30px;
	border: 1px solid #000;
	border-radius: 20px;
	padding: 10px;
	background: linear-gradient(135deg, blue, teal);
	color: #fff;
	word-wrap: break-word;
}

.bottom-input button {
	height: 100%;
}

/* function area icon config */
.function-area .anticon {
	font-size: 1.5rem;
	transition: transform 0.8s ease;
}

.function-area .anticon:hover {
	cursor: pointer;
	box-shadow: 0 0 10px #ccc;
	transform: scale(1.5);
}

/* drawer btn fixed in right */

.right-drawer > button {
	position: fixed;
	height: 400px;
	width: 40px;
	left: 0;
	top: 40%;
	background-color: lightseagreen;
	color: #fff;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	outline: none;
	word-wrap: none;
	transition: padding, width 0.5s ease-in;
}
.right-drawer > button:hover {
	cursor: pointer;
	box-shadow: 10px 0 10px #ccc;

	width: 50px;
}
